<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <!-- column for product's picture and comments on the bottom -->
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="thumbnail">
        <h2><%= @product.name %></h2>
        <%= image_tag(@product.image_url, class:"product-img img-responsive")%>
        <p><%= render partial: "new_comment" %></p>
        <p><%= render partial: "comments" %></p>
      </div>
    </div>

    <!-- colomn for product's description, price, colour -->
    <div class="col-xs-6 col-md-4">
      <div class="product_details">
        <p><strong>Description:</strong> <%= @product.description %></p>
        <p><strong>Colour:</strong> <%= @product.colour %></p>
        <p><strong>Price:</strong> <%= @product.price %> $</p>
        <p class="rated" data-score="<%= @product.average_rating %>"><strong>Average Rating: </strong></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>