<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">
    <!-- column for product's picture and comments on the bottom -->
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="thumbnail">
        <h2><%= @product.name %></h2>
        <%= image_tag(@product.image_url, class:" img-zoom product-img img-responsive", data_zoom_image: "@product.image_url")%>
        <p><%= render partial: "new_comment" %></p>
        <p class="alert alert-info" style="display:none" role="alert">A new comment was posted!</p>
        <p><%= render partial: "comments" %></p>
        <%= will_paginate @comments %>
      </div>
    </div>

    <!-- colomn for product's description, price, colour -->
    <div class="col-xs-6 col-md-4">
      <div class="product_details">
        <p><strong>Description:</strong> <%= @product.description %></p>
        <p><strong>Colour:</strong> <%= @product.colour %></p>
        <p><strong>Price:</strong> <%= @product.price %> $</p>
        <p><strong>Average Rating:</strong></p>
        <p class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></p>
        <p>
          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        <p><strong>Views: <span class="badge"><%= @product.views %></span></strong></p>
        </p>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>